# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project specific
data/
**/restaurant_openai_p4t*/
**/restaurant_openAI/
**/restaurants/
**/nano-vectorDB/
**/dickens/
milvus_docker/milvus_data/
milvus_docker/milvus_data/rdb_data/*.sst
milvus_docker/milvus_data/rdb_data_meta_kv/*.sst
*.sst
*.log
output/
test_vinh/
resto*.txt