# Logs
*.log
lightrag.log
*.log.*

# Database data
**/mongodb_docker/data/
**/milvus_docker/milvus_data/
**/neo4j_docker/data/

# Temporary files
*.tmp
*.bak
*.swp

# Virtual environments
venv/
.venv/

# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Large binary files
*.dylib
*.so
*.dll

# Development and system files
.DS_Store
.idea/
.vscode/

# Dependency caches
node_modules/
.npm/

# Build and distribution
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Large map or data files
*.sst
*.log

# Project specific
data/
**/restaurant_openai_p4t*/
**/restaurant_openAI/
**/restaurants/
**/nano-vectorDB/
**/dickens/
milvus_docker/milvus_data/rdb_data_meta_kv/*.sst
output/
test_vinh/
resto*.txt