# accelerate
# aioboto3
# aiohttp

# database packages
# graspologic
# hnswlib
# nano-vectordb
# neo4j
# networkx
# ollama
# openai
# oracledb
# pymilvus
# pymongo
# pyvis
# tenacity
# lmdeploy[all]

# LLM packages
# tiktoken
# torch
# transformers
# xxhash
lightrag-hku
pika
requests
tenacity
tqdm
aioboto3
numpy
ollama
openai
transformers
#torch
#pytorch-lightning
#torchtnt
tiktoken
nano_vectordb
neo4j
oracledb